In [1]:
# Ignore SQLITE warnings related to Decimal numbers in the Chinook database
import warnings
warnings.filterwarnings('ignore')

In [26]:
# Import Dependencies
import sqlite3

import pandas as pd

import numpy

In [93]:
# Create an engine for the chinook.sqlite database
conn = sqlite3.connect('database.sqlite')

df = pd.read_sql_query("SELECT * FROM loan",conn)

#df = pd.read_sql_query("SELECT *,case when loan_status in ('Fully Paid', 'Current', 'In Grace Period', None, 'Does not meet the credit policy. Status:Fully Paid', 'Issued') then 'Good' WHEN loan_status not in ('Fully Paid', 'Current', 'In Grace Period', None, 'Does not meet the credit policy. Status:Fully Paid', 'Issued') then 'Bad' end as 'New_Loan_Status' from loan", conn)

In [94]:
df['year'] = df['issue_d'].astype('datetime64[ns]').dt.year

df_new = df.loc[df['year'] < 2014.0]

df_new.to_csv("loan_2013.csv")

In [95]:
df_new = df.loc[df['year'] < 2014.0]

In [96]:
# del df_new ['column_name']

df_new

,index,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,year
0,0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0
1,1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0
2,2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0
3,3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0
4,4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230654,188118,1062400,1294262.0,20500.0,20500.0,20500.0,36 months,16.77%,728.54,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0
230655,188119,1059394,1291010.0,15000.0,15000.0,15000.0,36 months,15.27%,521.97,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0
230656,188120,1059224,1290827.0,35000.0,35000.0,35000.0,36 months,15.96%,1229.81,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0
230657,188121,1058722,1290521.0,12000.0,12000.0,12000.0,36 months,16.29%,423.61,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0
230658,188122,1058291,1289878.0,12000.0,7775.0,7775.0,60 months,15.27%,186.08,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0

In [55]:
loan_status_unq = df_new["loan_status"].unique()

loan_status_unq

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [74]:
a = [0,2,5,7]
b = [1,3,4,6,8]

bad_Loan = [loan_status_unq[i] for i in b]

good_Loan = [loan_status_unq[i] for i in a]

bad_Loan

good_Loan

['Fully Paid',
 'Current',
 'In Grace Period',
 'Does not meet the credit policy. Status:Fully Paid']

In [76]:
z = 0

df_new["new_loan_status"] = []

for x in df_new["loan_status"]:
    if x in bad_Loan:
        df_new["new_loan_status"][z] = "bad"
    elif x in good_Loan:
        df_new["new_loan_status"][z] = "good"
    z+=1

ValueError: Length of values does not match length of index